#Homepage {
    background-color:black;
    color:cornflowerblue;
    text-align: center;
}

#games {
    background-color: black;
    color: cornflowerblue;
    text-align: center;
}

#help {
    background-color:black;
    color: cornflowerblue;
    text-align: center;
}

#dashboard {
    background-color: black;
    color: cornflowerblue;
    text-align: center;
}

#members {
    background-color: black;
    color: cornflowerblue;
    text-align:center
}

body {
    background-color:cornflowerblue;
    color:white
}

#rules {
    text-align: center;
    background-color: black;
    color:cornflowerblue;
}

#motto {
    text-align: center;
    background-color: black;
    color: cornflowerblue;
}

#passion {
    text-align: center;
    background-color: black;
    color: cornflowerblue;
}

#simulator {
    text-align: center;
    background-color: black;
    color: cornflowerblue;
}

#stats {
    text-align: center;
    background-color: black;
    color: cornflowerblue;
}

#schedule {
    text-align: center;
    background-color: black;
    color: cornflowerblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}